@import 'material-icons/iconfont/material-icons.css';

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}
  

.titlebar {
    background-color: #35495e;
    display: flex;
    height: 40px;
    justify-content: end;
}

.titlebar .button {
    user-select: none;
    cursor: pointer;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    span {
        vertical-align: middle;
        height: 100%;
    }
}


.material-icons {
    color: white;
    font-size: 15px;
}

