@import 'material-icons/iconfont/material-icons.css';

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow: auto;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}


.titlebar {
    background-color: #35495e;
    display: flex;
    height: 40px;
    justify-content: end;
    align-items: center;
}

.titlebar .button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;

    margin-right: 0.3em;

    span {
        height: 100%;
    }
}

.material-icons {
    color: white;
    font-size: 18px;
    padding: 0 0.2em;
}
